html {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.4;
	color: #303030;
	background-color: #dedede;
	overflow-x: hidden;
}
main {
	margin: 0 auto;
	padding: 0 ;
}
body {
	margin: 0;
	overflow-x: hidden;
}
h1 {
	font-size: 2em;
}
h1, h2, h3 {
	line-height: 1.2em;
}
a {
	color: #2c5234;
	text-decoration: none;
}
a:hover, a:focus {
	text-decoration: underline;
}
a:active {
	color: rgb(44,82,52);
}
header a, header a:visited, header a:hover, header a:focus, header a:active {
	color: #fefefe;
	text-decoration: none;
}
img {
	border-style: none;
}
code, pre {
	font-family: monospace, monospace;
	font-size: 1em;
}
small {
	font-size: 80%;
}
button, input, optgroup, select, textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.4;
	margin: 0;
}
textarea {
	resize: vertical;
}
button, [type="button"], [type="reset"], [type="submit"] {
	-webkit-appearance: button;
}
details {
	display: block;
}
summary {
	display: list-item;
}
table, thead, tbody, th, td, tr {
	display: block;
}
thead {
	position: absolute;
	width: 1px;
	clip: rect(1px, 1px, 1px, 1px);
	border: 0;
	left: -1px;
	top: -1px;
}
tr {
	border-top: 2px solid #303030;
	margin-top: 0.67em;
	padding-bottom: 1em;
}
td {
	border: none;
	border-bottom: 1px solid #eeeeee;
	position: relative;
	padding-left: 50%;
	text-align:left;
}
td:before {
	position: absolute;
	left: 0.33em;
	width: 45%;
	white-space: nowrap;
	text-align:left;
	font-weight: bold;
	content: attr(data-title);
}
.div-card-full {
	padding: 0.33em 0.67em;
	background-color: #fefefe;
}
.div-card-reg {
	display: block;
	flex-grow: 1;
	/*min-width: 24em;*/
	padding: 1em;
	text-align: center;
	position: relative;
	background-color: #fefefe;
	justify-content: space-evenly;
}
header {
	background-color: #2c5234;
	color: #fefefe;
	font-family: 'Roboto', sans-serif;
	width: 100%;
}
header {
	margin-top: 0;
	z-index: 900;
	box-shadow: 0 6px 10px 0 rgba(0,0,0,0.4);
	text-align: center;
}
header h3 {
	padding-top: .33em;
	padding-bottom: .33em;
	display:inline-block;
	text-shadow: 2px 2px 8px #101010;
}
nav {
	display: none;
	margin-bottom: 0.67em;
	background-color: #2c5234;
}
nav span {
	font-size: 1.4em;
	padding: 0.33em 0.33em;
	color: #303030;
	display:inline-block;
	margin:0 auto;
}
nav ul {
	list-style: none;
	text-align: left;
	padding: 0;
	margin: 0;
	background-color: rgb(44,82,52);
}
nav ul li {
	font-size: 1.2em;
	padding-top: .33em;
	padding-bottom: .33em;
	padding-left: 0.67em;
	background-color: #fefefe;
	color: #303030;
	border-bottom: 1px solid #303030;
}
nav ul a:hover {
	text-decoration: none;
}
.link-login li{
	padding-right: .67em;
	padding-top: .67em;
	padding-bottom: .67em;
	background-color: #2c5234;
	color: #fefefe;
}
summary {
	font-size: 1.5em;
	outline: none;
}
details {
	margin: 0.67em 0;
}
label {
	padding: .33em 0;
}
input, select {
	background-color: transparent;
	border:1px solid #cccccc;
	padding: .50em .33em;
}
input[type="submit"], input[type="button"] {
	border-radius: 5px;
	border: 1px solid #2c5234;
	padding: .33em 0.67em;
	background-color: #2c5234;
	color: #fefefe;
	transition-duration: 0.4s;
	width: 100%;
	max-width: 5em;
	margin: 0.17em auto;
	font-weight: bold;
}
input[type="submit"]:hover, input[type="button"]:hover {
	border-radius: 5px;
	border: none;
	color: #2c5234;
	background-color: #fefefe;
	border: 1px solid #2c5234;
}
.form-row {
	display: flex;
	flex-direction: column;
	padding-bottom: 0.67em;
	max-width:35em;
	margin: 0 auto;
}
.form-inline {
	display:inline;
}
.form-checkboxes {
	padding-bottom: 0;
}
.form-row input[type="checkbox"] {
	margin: auto 0;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 10%;
}
.form-row label {
	flex:1;
	margin-right:.33em;
}
.form-row input, .form-row select {
	flex:2;
	margin-right: .67em;
}
.mobile-hidden {
	display: none;
}
.js-expand {
	color: #0077CC;
}
.js-expand:hover, .js-expand:focus {
	text-decoration: underline;
}
.errors {
	color: #d70000;
}
.warnings {
	color: #ff6a00;
}
.login-container {
	background-color: #fefefe;
	margin: 0;
	padding: 0.67em 0.33em;
}
.login-form > input {
	position: relative;
	display: block;
	margin: 0 auto;
	width: 90%;
	border: 0;
	border-bottom: 1px solid #303030;
	padding: 1em 0;
	padding-bottom: 1em;
	margin-bottom: 1.25em;
}
.login-form > input[type="submit"] {
	border-radius: 5px;
	border: 1px solid #2c5234;
	padding: .33em 0.67em;
	background-color: #fefefe;
	color: #2c5234;
	transition-duration: 0.4s;
	width: 100%;
	max-width: 5em;
	margin: 0.17em auto;
	font-weight: bold;
}
#menutoggle {
	left: 0.67em;
	top: 0.8em;
	position: absolute;
	width: 3em;
	height: 3em;
	z-index: 2;
	opacity: 0;
}
.menuicon {
	left: 0.65em;
	top: 0.75em;
	padding: 0.8em 0.5em 0.5em 0.5em;
	border-radius: 10%;
	border: 2px solid #fefefe;
	position: absolute;
}
.menuicon div {
	margin: 0;
	padding: 0;
	width: 1.8em;
	height: 2px;
	margin-bottom: 5px;
	position: relative;
	background:#fefefe;
	border-radius: 3px;
	z-index: 1;
	transform-origin: 4px 0px;
	transition: transform 0.4s cubic-bezier(0.77,0.2,0.05,1.0),background 0.4s cubic-bezier(0.77,0.2,0.05,1.0),opacity 0.4s ease;
}
.menuicon div:first-child {
	transform-origin: 0% 0%;
}
.menuicon div:nth-last-child(2) {
	transform-origin: 0% 100%;
}
#menutoggle:checked ~ .menuicon div {
	opacity: 1;
	transform: rotate(45deg) translate(3px, -5px);
}
#menutoggle:checked ~ .menuicon div:nth-child(2) {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}
#menutoggle:checked ~ .menuicon div:nth-child(3) {
	transform: rotate(-45deg) translate(1px, 2px);
}
.currentpage:before { content: "["; }
.currentpage:after { content: "]"; }
.button-delete {
	background-color: rgb(255,130,0) !important;
	border-color: rgb(255,130,0) !important;
}
.button-delete:hover {
	background-color: #fefefe !important;
	border-color: rgb(255,130,0) !important;
	color: rgb(255,130,0) !important;
}
.inline-block {
	display: inline-block;
}
.inline-block {
	width: 4.6em;
}
@media only screen and (min-width: 40em) {
	header {
		height: 3.5em;
		position: fixed;
		top: 0;
		z-index: 900;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	}
	footer {
		margin-right: 1em;
		padding-left: 1em;
	}
	header h3 {
		display: inline-block;
		margin: 0;
		padding: 0;
		height: 100%;
	}
	header a {
		line-height: 3.5em;
		padding-left: .67em;
		padding-right: 0.67em;
		padding-top: 0;
	}
	main {
		padding-top: 3.5em;
		padding-left: 1em;
		margin: 0 auto;
		padding-right: 1em;
		max-width:100%;
	}
	nav {
		padding: 0;
		margin: 0;
		top: 0;
		left: 0;
		bottom: 0;
		position: fixed;
		z-index: 100;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		background-color: #fefefe;
		padding-top:5em;
		overflow-y: auto;
		min-width: 12.67em;
	}
	nav ul {
		box-shadow: none;
		text-align: left;
		text-align: center;
		margin-bottom:1em;
		background-color: #fefefe;
	}
	nav ul span {
		font-weight: bold;
		font-size: 1.15em;
		color: #303030;
	}
	nav ul li {
		font-size: 1em;
		background-color: #2c5234;
		border: 1px solid #2c5234;
		padding: 0;
		border-radius: 5px;
		margin: 0.33em 0.8em;
		text-align: left;
		color: #fefefe;
		transition-duration: 0.4s;
	}
	nav ul li:hover {
		background-color: #fefefe;
		color: #2c5234;
		border: 1px solid #2c5234;
	}
	nav ul li a {
		display: block;
		width:100%;
		height:100%;
		z-index: 1;
		padding: 0.67em;
		margin: 0;
	}
	nav ul a {
		color: #fefefe;
	}
	nav ul a:hover {
		color: rgb(44,82,52);
	}
	.div-card-full {
		margin-top: 1em;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		margin-bottom: 0.5em;
		padding: 1em;
		background-color: #fefefe;
	}
	.div-card-reg {
		display: inline-block;
		min-height: 10em;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		flex-grow: 1;
		margin: 0.5em 0;
		min-width: 24em;
	}
	.flex-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.div-card-reg h2 {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-100%);
	}
	table {
		display: table;
		border-collapse: collapse;
		border: none;
		margin: 0 auto;
	}
	thead {
		display: table-header-group;
		padding: 0;
	}
	tbody {
		display: table-row-group;
	}
	th, td {
		display: table-cell;
		text-align: left;
		padding: 0 0.67em;
	}
	thead {
		position: relative;
		width: auto;
		border: 0;
	}
	th {
		border: 1px solid #b0b0b0;
		border-bottom: 1px solid #303030;
		padding: 0;
		padding-right: 0.67em;
		padding-left: .2em;
		background-color: #2c5234;
		color: #fefefe;
	}
	tr {
		display: table-row;
		border: 0;
		margin-bottom: 0;
		overflow-x: hidden;
	}
	tr:nth-child(even){
		background-color: #ecf6ee;
	}
	td {
		border: 1px solid #b0b0b0;
		border-bottom: 1px solid #b0b0b0;
		position: relative;
		white-space: normal;
		text-align:left;
		padding-left: .2em;
		overflow-x: hidden;
	}
	td:before {
		content: normal;
	}
	.horizontal-scroll {
		overflow-x: auto;
	}
	.login-container {
		max-width: 30em;
		margin: 3.33em auto;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		background-color: #fefefe;
	}
	.login-container > h2 {
		padding: 1em 5%;
		margin: 0;
	}
	.login-container > p {
		padding: 0 5%;
		padding-bottom: 1em;
	}
	.login-form {
		display: block;
		width: 100%;
	}
	.login-form > input {
		position: relative;
		display: block;
		margin: 0 auto;
		width: 90%;
		border: 0;
		border-bottom: 1px solid #303030;
		padding: 1em 0;
		padding-bottom: 1em;
		margin-bottom: 1.25em;
	}
	.login-form > input::placeholder {
		color: #303030;
	}
	.login-form > input:focus {
		outline: none;
		border-bottom: 1px solid rgb(44,82,52);
	}
	.login-form > .errors {
		color: red;
		margin: 5%;
	}
	.login-form > input[type="submit"] {
		margin-left: 5%;
	}
	.login-form > input[type="submit"]:hover {
		border-radius: 5px;
		border: none;
		color: #fefefe;
		background-color: rgb(44,82,52);
		border: 1px solid rgb(44,82,52);
	}
	.form-row {
		display: flex;
		flex-direction: row;
	}
	header{
		display: inline-block;
	}
	#menutoggle {
		top: 0.33em;
	}
	.menuicon {
		top: 0.25em;
	}
	.button-delete {
		background-color: rgb(255,130,0) !important;
		border-color: rgb(255,130,0) !important;
	}
	.button-delete:hover {
		background-color: #fefefe !important;
		border-color: rgb(255,130,0) !important;
		color: rgb(255,130,0) !important;
	}
}
@media only screen and (min-width: 64em) { 
	main {
		padding-top: 3.5em;
		padding-left: 15em;
		margin: 0 auto;
		padding-right: 2em;
		max-width:100%;
	}
	footer {
		margin-right: 2em;
		padding-left: 15em;
	}
	nav {
		padding: 0;
		margin: 0;
		top: 0;
		left: 0;
		bottom: 0;
		position: fixed;
		z-index: 100;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		background-color: #fefefe;
		padding-top:5em;
		overflow-y: auto;
	}
	nav ul {
		box-shadow: none;
		text-align: left;
		text-align: center;
		margin-bottom:1em;
		background-color: #fefefe;
	}
	nav ul span {
		font-weight: bold;
		font-size: 1.15em;
		color: #303030;
	}
	nav ul li {
		font-size: 1em;
		background-color: #2c5234;
		border: 1px solid #2c5234;
		border-radius: 5px;
		margin: 0.33em 0.8em;
		text-align: left;
		color: #fefefe;
		transition-duration: 0.4s;
	}
	nav ul li:hover {
		background-color: #fefefe;
		color: #2c5234;
		border: 1px solid #2c5234;
	}
	#menutoggle {
		display: none;
	}
	.menuicon {
		display: none;
	}
	.div-card-reg {
		display: inline-block;
		min-height: 10em;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		flex-grow: 0;
		width: 25em;
		margin: 1em 0;
	}
	.button-delete {
		background-color: rgb(255,130,0) !important;
		border-color: rgb(255,130,0) !important;
	}
	.button-delete:hover {
		background-color: #fefefe !important;
		border-color: rgb(255,130,0) !important;
		color: rgb(255,130,0) !important;
	}
}
@media print {
	* {
		background: transparent;
		color: #000000;
		box-shadow: none;
	}
	a {
		text-decoration: underline;
	}
	pre, blockquote, form {
		page-break-inside: avoid;
	}
	nav {
		display: none;
	}
}
